* {
    font-family:'Open Sans',sans-serif;font-weight:300;

}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, canvas { 
    display: block;
}

input[type=text], input[type=submit] {
    border:1px solid #ccc;
    font-size:20px;
    min-height:30px;
    padding:5px;
    outline: none;
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -o-border-radius:5px;
    -ms-border-radius:5px;
}

input[type=text] {
    margin-right:5px;
    width:150px;
}

a:link, a:visited, a:hover, a:active{
    color: #111;
    text-decoration:none;
}

header {
    text-align:center;
}

h2 {
    text-transform: uppercase;
    font-size: 20px;
    margin:25px 5px 5px 5px;
}

body {
    background: #eee;
    padding: 0;
    margin: 0;
    width: 100%;
    height:100%;
}

footer {
    margin-top: 5px;
    clear:both;
}

footer p {
    position:absolute;
    bottom:0;
}

#ajax_panel {
    positon:absolute;
}

#pagewrap {
    width: 95%;
    margin: 15px auto;
}

#sidebar {
    width: 25%;
    float: left;
}

#content {
    width: 70%;
    float: left;
}

.result {
    height:25px;
    color: #999;
}
.options ul{
    list-style-type:none;
}

@media screen and (max-width: 650px) {
    #content {
        width: auto;
        float: none;
        margin: 20px 0;
    }

    #sidebar{
        width: 100%;
        float: none;
        margin: 0;
        text-align:center;
        clear:both;
    }

    .options li{
        display:inline;
    }
}


