<!doctype html>
<head>
    <title>Tweet Cloud</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" media="screen" />
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='jquery.tagcanvas.js') }}"></script>
    <script>
    jQuery.fn.center = function () {
    this.css("position","absolute");
    this.css("top", Math.max(0, (($(window).height() - this.outerHeight()) / 2) + $(window).scrollTop()) + "px");
    this.css("left", Math.max(0, (($(window).width() - this.outerWidth()) / 2) + $(window).scrollLeft()) + "px");
        return this;
    }

    function cloud() {
        if(!$('#cloud_canvas').tagcanvas({
            textColour: '#000', 
            reverse: true,
            depth: 0.8,
            maxSpeed: 0.05
        })) {
            $('#cloud').hide();
        } else {
            $('#cloud').show();
        }
    }

    function resize(){
        var w = $("#content").width();
        var h = $(window).innerHeight() - 50;

        $("canvas").attr('width', w);
        $("canvas").attr('height', h);
    }

    $(window).bind("resize", resize);
    $(document).ready(function() {
        resize()
        $("#get_form").submit(function(event){
                event.preventDefault();
                $('#cloud').hide();
                $('.result').empty();
                handle = $("#handle").val();
                type = $('input[name=values]:checked', 'form').val()
                retweets = $("input[name=retweets]:", 'form').is(':checked')
                
                replies = $("input[name=replies]:", 'form').is(':checked')

                $.ajax({
                    type: 'GET',
                    url: "/get_tweets/"+handle,
                    data: { replies: +replies, include_rts: +retweets, type: type },
                    beforeSend:function(){
                        
                        $('#ajax_panel').html('<div class="loading"><img src="{{ url_for('static', filename='loading.gif') }}" alt="Loading..." /></div>');
                        $('#ajax_panel').center();
                        },
                    success:function(data) {
                        // console.log(data);
                        if(data!=null){
                            $('#ajax_panel').empty();
                            $('canvas').empty();
                            $("canvas").append('<ul></ul>');
                            tweet_data = data['data'];
                            for (var key in tweet_data) {
                                $("canvas ul").append("<li weight="+tweet_data[key]+">"+key+"</li>");
                            }
                            cloud();
                            $(".result").html("Processed <b>"+data['count']+" tweets.");
                            }
                         else {
                            $('#ajax_panel').html('<p class="error"><strong>Invalid</strong> user name.</p>');
                            $('#ajax_panel').center();
                            }
                            },
                    error:function(){
                        $('#ajax_panel').html('<p class="error"><strong>Oops!</strong> Something went wrong.</p>');
                        $('#ajax_panel').center();
  }
            });
            });
      });
    </script>
</head>

<body>
    <div id="pagewrap">
    <aside id="sidebar">
        <header>
            <h1>Tweet Cloud</h1>
        </header>
        <form id="get_form">
            <div class="input_box">
            <label>@</label>
            <input type="text" id="handle" name="handle" required />
            <input type="submit" id="get_data" value="Show Me!"/>
            </div>

            <div id="ajax_panel"></div>

            <div class="options">
            <h2>Values</h2>
            <ul>
            <li>
            <input type="radio" id="word_count"
 name="values" value="word_count" checked/>
            <label for="word_count">Words per tweet</label>
            </li>
            <li><input type="radio" id="words"
 name="values" value="words"/>
            <label for="words">Words (min frequency 3)</label>
            </li>
            <li><input type="radio" id="hashtags"
 name="values" value="hashtags"/>
            <label for="hashtags">Hash tags</label>
            </li>
            </div>

            <div class="options">
            <h2>Include</h2>
            <ul>
            <li><input type="checkbox" name="retweets"/>
            <label for="retweets">Retweets</label>
            </li>
            <li>
            <input type="checkbox" name="replies" />
            <label for="replies">Replies</label>
            </li>
            <!--<label for="count">Number of tweets to analyze</label>
            <input type="number" id="count" value="1000" max="1000"/>-->
            </div>
        </form>
        <div class="result">
        </div>
    </aside>
    <div id="content">
        
        <div id="cloud">
            <canvas  id="cloud_canvas">
             </canvas>
        </div>
    </div>
    <footer>
        <p>Follow <a href="http://twitter.com/jishnu7">@jishnu7</a></p>
    </footer>
    </div>

</body>
</html>
